.Item {
  background-color: white;
  padding: 15px;
  margin: 10px 20px;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  width: 300px;
  height: 100px;

  border-radius: 20px;
  box-shadow: 1px 1px 2px rgb(56, 96, 136);

  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  &:hover {
    box-shadow: 1px 1px 2px rgb(56, 96, 136) inset;
    transition-timing-function: ease-in-out;

    .btn {
      visibility: visible;
    }
  }

  .Item__btn-delete {
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 3px;
    border: white;
    background-color: #fff;
    font-size: 17px;
    border-radius: 50%;
    visibility: hidden;
    height: 22px;
    width: 22px;

    &:hover {
      background-color: #b3deed;
    }

    .btn-span-x {
      line-height: 77%;
    }
  }

  .Item__tags {
    margin-top: 5px;
    font-size: 1rem;
    color: #656565;
  }
}
