.EditForm {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin: 30px 30px 0px 20px;

  .EditForm__textarea {
    padding: 10px;
    height: 150px;
  }

  .EditForm__controls {
    display: flex;
    justify-content: start;
    width: auto;
    margin-top: 10px;

    .EditForm__tags {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;

      .tag {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgb(56, 96, 136);

        .tag__name {
          margin: 0px 3px;
          color: darkblue;
          -moz-user-select: none;
          -khtml-user-select: none;
          user-select: none;
        }

        .tag__btn-delete {
          margin: 1px 3px;
          border: white;
          background-color: #fff;
          font-size: 17px;
          border-radius: 50%;
          visibility: hidden;
          &:hover {
            background-color: #b3deed;
          }
        }

        &:hover {
          .tag__btn-delete {
            visibility: visible;
          }
        }
      }
    }

    .EditForm__btn-close {
      margin-left: 10px;
    }

    .ml {
      margin-left: auto;
    }
  }
}
